<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charaset="utf-8">
    <meta name="description" content="緯度経度から最寄駅を表示させるサイトです">
    <meta propaty="og:image" content="http://localhost:32771/public/logo.png">
    <meta propaty="og:title" content="Express">
    <meta propaty="og:description" content="緯度経度から最寄駅を表示させるサイトです">
    <title>Express</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico">
    <style>
    table{
		border-collapse: collapse;
		padding : 3px;
	  }
    table th, table td{
		padding :2px;
	}
  table .btn{
    font-size:12px;
  }
  .container{
    padding-top:3em;
  }
  </style>
  </head>
  <body>
  <div class="container">
    <form action="list" method="get" class="form-inline">
      <input type="text" name="x" id="x" placeholder="x" class="form-control">
      <input type="text" name="y" id="y" placeholder="y" class="form-control">
      <input type="submit" value="検索" class="btn btn-primary">
    </form>
    <div class="row">
      <div class="col-md-6">
    <h2><i class="fas fa-history"></i> 検索履歴</h2>
    <table>
      <% @histories.each do |history| %>
        <tr>
          <td><%= history.x %>, <%= history.y %></td>
          <td>
            <% if history.favorite %>
            <form action="<%= history.id %>/update" method="post" class="form-inline">
              <input type="submit" value= "解除" class="btn btn-default">
            </form>
            <% else %>
            <form action="<%= history.id %>/update" method="post" class="form-inline">
              <input type="submit" value= "お気に入り" class="btn btn-warning">
            </form>
            <% end %>
          </td>
          <td>
            <form action="<%= history.id %>/delete" method="post" class="form-inline">
              <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
            </form>
          </td>
        </tr>
      <% end %>
        </table>
      </div>
        <div class="col-md-6">
        <h2><i class="fas fa-star"></i>お気に入り</h2>
        <ul>
          <% @favorites.each do |favorite| %>
            <li><%= favorite.x %>, <%= favorite.y %></li>
          <% end %>
        </ul>
        </div>
      </div>
    </div>
  </body>
</html>